.singerOneSongs {
    display: none;
    max-height: 86vh;
    overflow: scroll;
  }
  #singerOneSongs {
    max-height: 86vh;
    overflow: scroll;
  }
.Singer1-Bigimg{
    width: 76%;
}  
.Singer1-Photo-area{
  background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    display: flex;
    background-image: url(images/arigitsinghback.png);
    height: 282px;
    flex-direction: column;
    align-items: baseline;
    justify-content: end;
    gap: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
    color: #9e9585;
}
.dropdown-item{
    color: rgb(36, 35, 35) !important;
}
.Play-follow3d{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 30px;
    gap: 35px;
}
.Singername{
    font-size: xx-large;
    color: white;
    font-weight: 800;
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
.followBtn{
    border: 1px solid white;
    padding: 4px;
    border-radius: 15px;
    color: white;
    background-color: transparent;
    width: 90px;
  }
  #PlayButton{
    background-color: brown;
    color: aliceblue;
    border-radius: 50%;
    border: 2px solid white;
  }
  .PlayButton{
    background-color: brown;
    color: aliceblue;
    border-radius: 50%;
    border: 2px solid white;
  }
  .Listing{
    padding-top: 25px;
    margin: auto;
    max-width: 90%;
    /* border: 1px solid white; */
    justify-content: space-between;
    /* gap: 40px; */
    display: flex;
    padding-right: 4%;
    padding-bottom: 25px;
    border-radius: 10px;

  }
  .Listing:hover{
    background-color: wheat;
  }
  .App{
    display: flex;
    flex-direction: column;
    
    background-color: #393939;
  }
 
  .bg-transparent{
    color: white;
  }
  .PlayPause{
    padding-right: 15%;
    padding-left: 15%;
    display: flex;


  }