.input-group-text {
  display: flex;
  align-items: center;
  padding: 15px 18px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: center;
  white-space: nowrap;
  background-color: #393939;
  border: 0 !important;
  border-radius: 30px;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
}
.form-controls {
  /* display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    border-radius: var(--bs-border-radius);
    border-color:transparent;
    box-shadow: none; */
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  border: 0;
  background-color: #393939;
}
.input {
  position: absolute;
  /* top: 5px; */
  width: 30vw;
  height: 50px;
  left: 45vw;
  top: 16px;
  border-radius: 45px;
  animation: width 1s ease-in-out;
}
@keyframes width {
  0% {
    /* height: 0vh;
    border-radius: 100%; */
    width: 0px;
  }
  100% {
    width: 30vw;

    /* transform: scale(1);
      border-radius: 0%; */
  }
}
@media only screen and (max-width: 999px) {
  .SongAfterClick img {
    width: 80% !important;
    /* width: 40%; */

    border-radius: 10%;
  }
  .input {
    position: absolute;
    /* top: 5px; */
    width: 30vw;
    height: 50px;
    left: 28vw;
    top: 16px;
    border-radius: 45px;
    animation: width 1s ease-in-out;
  }
}
.songItoms {
  background-color: transparent !important;
  box-shadow: none !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: fit-content; */
  max-width: 95%;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.SearchMain {
  background-color: #b2b2b2;
}
.card {
  width: 400px;
  height: 260px;
  padding-top: 13px;
  color: white;
  background-color: black;
}
.card-header img {
  width: 50px;
}
.card-title {
  margin-bottom: 20px;
}
.SongAfterClick {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 95px;
  padding-bottom: 100px;
}
.SongAfterClick img {
  /* width: 80%; */
  width: 40%;

  border-radius: 10%;
}
.accordion-body {
  padding-top: 70px;
  padding-bottom: 50px;
}
.titleartist {
  color: #ffffff;
  font-size: x-large;
  padding-top: 50px;
  padding-bottom: 50px;
}
#link {
  position: relative;

  top: 30px;
  left: 25px;
}
audio {
  width: 80%;
}
.bk-button {
  background-color: #919191;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  z-index: 2;
}

.Secondfooter ul:hover{
  background-color:transparent !important;
  box-shadow: none;
}