* {
  list-style: none;
}

.Secondfooter {
  display: flex;
  background-color: #393939;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  justify-content: space-evenly;
  padding-top: 50px;
}
.footerIcons {
  display: flex;
  gap: 20px;
}
.footerIcons li {
  padding-top: 0px !important;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #646464;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.footerIcons li:hover{
  background-color: rgb(171, 171, 171);
  color: rgb(0, 0, 0);
}
.Secondfooter div {
  font-size: large;
    color: white;
    font-weight: 500;
    padding-bottom: 10px;

}
.Secondfooter li {
  padding-top: 3px;
  color: #adadad;
}
.Secondfooter li:hover{
  text-decoration: underline;
  color: wheat;
}
.Secondfooter li svg {
  border-radius: 50%;
  color: rgb(0, 0, 0);
}

.SecondfooterBottom {
  background-color: #393939;
  padding-top: 35px;
}
.hr-line {
  margin: auto !important;
  width: 70%;
  background-color: white;
  height: 2px;
  color: white !important;
  color: inherit;
  border: 0;

}
.SecondfooterBottom-text{
  padding-top: 30px;
    padding-left: 6%;
    padding-bottom: 60px;
    color: white !important;
}
@media only screen and (max-width:900px){
  .Secondfooter{
    display: grid !important;
    grid-template-columns: repeat(3,auto);
  }
  .footerIcons{
    display: flex;
    align-items: center;
    gap: 20px;

  }
}
@media only screen and (max-width:500px) {
  .Secondfooter{
display: flex !important;
flex-direction: column;
  }
}